<html>

<head>

	<% include ../partials/head.ejs %>
	
</head>

<body class="skin-yellow sidebar-mini">
<div class="wrapper">

	<% include ../partials/header.ejs %>
  
	<!-- Left side column. contains the logo and sidebar -->
	
	<% include sidebar.ejs %>

	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

	<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				SIGN IN
				
			<small></small>
			</h1>
      
		</section>

    <!-- Main content -->
    <section class="content">

	<!-- Your Page Content Here -->
	<!-- Default box -->
    <!-- /.box-body -->
	
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Enter Your Expenses </h3>
			</div>
            <!-- /.box-header -->
			<div class="container">
			<a href="javascript:document.location.href=getUrl();" class="btn btn-info" role="button">View Report Expense</a>
				
	
	<form action="/" method="POST">
	<table class="table table-condensed">
		<tr>
		<td>Category</td>
		<td>
			<select name="category">
						<option selected>Choose...</option>
						<option value="Groceries">Groceries</option>
						<option value="Food">Food</option>
						<option value="Transport">Transport</option>
						<option value="Shopping">Shopping</option>
						<option value="Entertainment">Entertainment</option>
						<option value="Others">Others</option>
			</select>
		</td>
		</tr>
		<tr>
		<td>Description</td>
		<td><input type="text" name="description" ></td>
		</tr>
		<tr>
		<td>Amount(RM)</td>
		<td><input type="text" name="amount" ></td>
		</tr>
		<tr>
		<td><p hidden><input type="datetime-local" name="date" id="today"></p></td>
		</tr>
		<tr>
		<td align="left" colspan="3"><input type="submit" class="btn btn-info" value="Add Expenses"></td>
		</tr>
		
	</table>
	</form>	
	
	<script>
		var nowDate = new Date(); 
		var date = nowDate.getFullYear()+'-0'+(nowDate.getMonth()+1)+'-'+nowDate.getDate(); 
		document.querySelector("#today").value = date;
		
		function getUrl()
        {
            return "/expense/"+date;
        }
	</script>
			</div>
            
          </div>
		</div>
	<!-- /.box -->

   </section>
		<!-- /.content -->
</div>

  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  
  <% include ../partials/footer.ejs %> 

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="dashboard/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="dashboardbootstrap.min.js"></script>
<!-- PACE -->
<script src="https://ivoters.amanah.org.my/js/app.min.js"></script>

</body>

</html>