<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <!-- Optionally, you can add icons to the links -->
			<li class="active"><a href="dashboard.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li class="" ><a href="finance_goals.html"><i class="fa fa-laptop"></i> <span>Set Income</span></a></li>
			<li class="" ><a href="finance_daily.html"><i class="fa fa-table"></i> <span>Set Expenses</span></a></li>			
      </ul>
			<!-- /.sidebar-menu -->

		</section>
 <!-- /.sidebar -->
 
 </aside>
 

 