<!--<meta charset="utf-8">
	<title> Login </title>
	<link rel="stylesheet" href="dashboard.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
	<title>Personal Finance Management Log In</title>
  
	<link rel="shortcut icon" href="https://ivoters.amanah.org.my/favicon.ico">

	<meta name="csrf-token" content="FTQR6oiAn4UnQGzLSYSrKQr3vVot0ZEeynwXtAA2">

	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
  
	<!-- Theme style -->
	<link rel="stylesheet" href="https://ivoters.amanah.org.my/css/AdminLTE.min.css">
	<link rel="stylesheet" href="https://ivoters.amanah.org.my/css/skins/skin-yellow.min.css">